.navlink {
  display: flex;
  justify-content: left;
  align-items: center;
  width: max-content;
  cursor: pointer;
  color: #8585ad;
  composes: pl-5 pt-4 pr-5 pb-4 from global;
}

.navlink:hover {
  color: #f2f2f3;
}

.text {
  composes: text text_type_main-default ml-2 from global;
}