.ingredients {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: mr-5 from global;
}

.title {
  composes: text_type_main-large mt-10 mb-5 from global;
  align-self: flex-start;
}

.list {
  width: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.tab_container {
  display: flex;
}