.navbar {
  max-width: 1280px;
  max-height: 56px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subitem {
  list-style: none;
  display: flex;
  flex-direction: row;
}